@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-gray-placeholder: #9e9e9e;
}

body {
    font-family: var(--font-noto-sans-jp), sans-serif;
}

input::placeholder,
select option[value=''] {
    color: var(--color-gray-placeholder);
}

@media (min-width: 640px) {
    .sp-only-sm {
        display: none;
    }
}

@media (max-width: 639px) {
    .pc-only-sm {
        display: none;
    }
}
