@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-gray-placeholder: #9e9e9e;
}

body {
    font-family: var(--font-noto-sans-jp), sans-serif;
}

input::placeholder,
select option[value=''] {
    color: var(--color-gray-placeholder);
}
